[submodule "headers/glfw"]
	path = headers/glfw
	url = https://github.com/glfw/glfw.git

[submodule "headers/glad"]
	path = headers/glad
	url = https://github.com/Dav1dde/glad.git

[submodule "headers/chrono"]
	path = headers/chrono
	url = https://github.com/projectchrono/chrono.git


[submodule "headers/glm"]
	path = headers/glm
	url = https://github.com/g-truc/glm.git
[submodule "headers/tinygltf"]
	path = headers/tinygltf
	url = https://github.com/syoyo/tinygltf.git
