[project]
name = "derive_models"
version = "0.1.0"
requires-python = ">=3.8"
dependencies = []

[build-system]
requires = ["maturin>=1.4,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
